@model IEnumerable<EcoTrend_Industry_Project.ViewModels.SupplierDetailsVM>

@{
    ViewBag.Title = "Supplier Lockout Area";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

<table id="table_id" class="display cell-border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LockedOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @if (item.LockedOut != null)
                {
                    @Html.Raw("<td style='color:red;'>Disabled</td>");
                }
                else
                {
                    @Html.Raw("<td style='color:green;'>Enabled</td>");
                }
                <th>
                    @Html.DisplayFor(modelItem => item.SupplierID)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.LockedOut != null)
                {
                        <a href="../Admin/UnlockUser?from=Supplier&email=@Html.DisplayFor(modelItem => item.Email)">Enable Account<span class="glyphicon toggle-on" title="Enable Account"></span></a>
                    }
                    else
                    {
                        <a href="../Admin/LockUser?from=Supplier&email=@Html.DisplayFor(modelItem => item.Email)">Disable Account <span class="glyphicon toggle-off" title="Disable Account"></span></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
